body {
  background-color: black;
}
header {
  text-align: center;
}

h1 {
  font-family: "orbitron";
  color: whitesmoke;
  position: absolute;
  top: 15%;
  left: 45%;
}
h2 {
  color: whitesmoke;
  font-family: "orbitron";
}
header p {
  color: whitesmoke;
  text-align: center;
  width: 40%;
  font-family: "EXO";
  position: absolute;
  top: 45%;
  left: 30%;
  right: 35%;
}

p {
  color: whitesmoke;
  font-family: "EXO";
}
